<section class="ds-card">

  <div class="ds-card-header align-items-center">
      <div class="d-flex align-items-center">
        <span class="icon-cyberscoring mr-2"></span>
        <div class="ds-h4 ds-m-bold ds-c-black">
          Ciberscoring
        </div>
      </div>
      <div>
        <span class="icon-edit ds-header-icon-right ds-mr-8p"></span>
        <span class="icon-info ds-header-icon-right" ></span>
      </div>
  </div>

  <ng-template render-component></ng-template>

</section>
