<div class="content-center-left">
    <div class="{{data.icon}} ds-mt-24p ds-mb-24p mx-auto main-primary cyber-main-icon">
    </div>
<div>
  <h2 class="neutral-black cyb-body-title ds-mb-12p">
    {{'COMP_ATTACKSIMULATOR.TEXT9' | translate}}
  </h2>
</div>

 <div *ngIf="userService.currentUserValue.isAdminUserId" class="ds-flex-column justify-content-center align-items-center">
      <p class="ds-content-p">{{'COMP_ATTACKSIMULATOR.TEXT10' | translate}}</p>
           <button type="submit" class="ds-btn-primary text-uppercase" [disabled]="loading" (click)="createFamily()">
            <nz-spinner *ngIf="loading"></nz-spinner>
              <div *ngIf="!loading">
                  {{'COMP_ATTACKSIMULATOR.BUTTON_ACTIVATE' | translate}}
              </div>
            </button>
          </div>

      <div *ngIf="!userService.currentUserValue.isAdminUserId" class="d-flex">
        <p class="">{{'COMP_ATTACKSIMULATOR.TEXT0_NO_ADMIN' | translate}}</p>
      </div>
    </div>

