
.footer{
    width: 100%;
    bottom: 0;
    position: relative;
}


.foot{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


// footer {
//   background: #ECF1F8;
//   z-index: 60;
//   position: relative;
//   min-height: calc(20vh) !important;
// }
