<div class="ds-card-body">
  <div class="w-100 d-flex flex-column align-items-center justify-content-center ">
    <div class="max-w-778p">
      <div class="d-flex flex-column align-items-center justify-content-center ds-mb-24p ">
        <div class="{{service.icon}} cyber-main-icon ds-c-primary ds-mb-10p"></div>

        <div class="ds-h2 ds-m-bold ds-c-black ds-mb-8p ">
          {{'CYBERALARM.CARDS.NEW_TITTLE' | translate}}
        </div>

        <div class="ds-t-center ds-body-primary  ds-r-regular ds-mb-12p">
          {{'CYBERALARM.CARDS.NEW_TEXT' | translate}}
        </div>

        <button class="btn btn-primary" (click)="addCreditCard()">  {{'CYBERALARM.CARDS.ADD_CARD'| translate}}</button>

      </div>
    </div>
  </div>
</div>
