.fs-65 {
  font-size: 65px;
}
.fs-48 {
  font-size: 48px;
}
.warning-background {
  background: #FFF5D6;
  border-radius: 8px;
}
.danger-background {
  background: #FFD9D9;
  border-radius: 8px;
}
.success-background {
  background: #D7FAE1;
  border-radius: 8px;
}
.white-background {
  background: #FFFFFF;
  border-radius: 8px;
}