<div class="col-sm-12 mb-1">
  <h2 class="text-center neutral-black cyb-body-title fade-infinite">
    {{ "CYBERSCORING.ANALIZANDO_TITULO" | translate }}
  </h2>
</div>
<div class="col-sm-12 pr-0 pl-0 d-flex flex-column align-items-center ">
  <span class="ds-r-regular ds-body-primary ds-c-black ds-mb-4p width-fix">
    {{ "CYBERSCORING.SECOND_STEP_TEXT1" | translate }}
    {{ dataC.nextAnalysisDate | date : "dd/MM/yyyy" }}.
  </span>
  <span
    class="ds-r-bold ds-body-primary ds-c-black ds-mb-24p text-center width-fix"
  >
    {{ "CYBERSCORING.SECOND_STEP_TEXT2" | translate }}
  </span>
  <span class="ds-r-regular ds-body-primary ds-c-black ds-mb-4p width-fix">
    {{ "CYBERSCORING.SECOND_STEP_TEXT3" | translate }}
  </span>
</div>
