.ml-fix{
    margin-left: 11px;
}

.add-card{
    border: 2px dashed #BCC4D4;
    border-radius: 8px;
}

.add-card-info{
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
    color: #BCC4D4;
}





.add {
    font-size: 1.5rem;
}


.card-unit{
  border: solid 1px #bcc4d4;
  padding: 0.5rem;
  border-radius: 8px;
  height: 100%;
}

.head-unit-container{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.head-icons-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-unit-info{
  max-width: 65%;
  padding: 0.5rem;
}

.user-name{
  font-weight: bold;
  font-size: 1rem;
}

.unit-card-img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}


.app-unit-loading {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white !important;
  color: rgb(74, 62, 243);
  font-family: 'Roboto';
}

.unit-logo{
  width: 50px;
  height: auto;
}
