.file-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  color: #34383F;
  background-color: #BCC4D4;
  margin-bottom: 8px;
  border-radius: 3px;
  word-wrap: break-word;
  a {
    color: #34383F;
  }
}
