
<ng-container *ngIf="!itpSuccess; else addEmailSuccess">

  <form class="d-flex flex-column" [formGroup]="itpAddEmailForm">
    <div class="ds-modal-header ds-mb-32p">
      <span class="ds-modal-title ds-h3 ds-m-bold ">{{service.name}}</span>
      <i class="icon-close" (click)="closeModal()"></i>
    </div>

    <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-32p"  *ngIf=" this.suiteService.suites[0].suiteType === 0">
      {{'CYBERALARM.IDENTITIES.ADD_FORM.TEXT1'| translate}}
    </div>

    <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-32p"  *ngIf=" this.suiteService.isUnitFamily">
      {{'FAMILY_UNIT.EMAIL_FORM_TITLE' | translate}}
    </div>

    <div class="ds-caption ds-r-regular ds-c-secondary ds-mb-12p">
       {{'CYBERSCORING.FORMULARIO_CYBERSCORING_REQUIRED'| translate}}
    </div>

    <div class="ds-flex-column ds-mb-32p" *ngIf="this.suiteService.isUnitFamily">
      <label class="ds-label-control">{{'FAMILY_UNIT.PROFILE_TO_SELECT' | translate}}*</label>
      <app-dropdown
        placeholder="{{'FAMILY_UNIT.DEFAULT_PROFILE_VALUE' | translate}}"
        formControlName="selectProfile"
        (onchange)="onChangeProfile($event)"
        [items]="selectItems">
      </app-dropdown>
    </div>

    <div class="d-flex ds-mb-32p">

      <div class="ds-w-70 ds-mr-12p">
        <div class="d-flex flex-column">
          <label class="ds-label-control">{{'COMP_IDENTITY_THEFT_PROTECTION.EMAIL_ACCOUNT'| translate}}</label>
          <input type="text" class="ds-control" formControlName="email"  placeholder="Ingrese aquí" >
          <span  class="ds-control-example-message"> {{('COMP_IDENTITY_THEFT_PROTECTION.ADD_UP_ACCOUNTS_DINAMIC'| translate).replace('{NUM_ACCOUNTS}', maxCardsByUser)}}</span>
          <span *ngIf="emailMessage" class="ds-control-error-message">{{emailMessage}}</span>
        </div>
      </div>

      <div class="ds-w-30">
        <div class="d-flex flex-column">
          <label class="ds-label-control">&nbsp;</label>
          <a href="javascript:void(0)" class="btn btn-outline-secondary ds-t-uppercase" (click)="addEmail()"> {{'GUARDAR_NEW'| translate}}</a>
        </div>

      </div>
    </div>

    <ng-container  *ngIf="emails && emails.length > 0">
      <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-12p">
        {{'CYBERALARM.IDENTITIES.ADD_FORM.EMAIL_PROTECT'| translate}}
      </div>
      <div class="ds-w-80 ml-4 ds-mb-32p">
        <div class="file-item" *ngFor="let item of emails; let i = index">
          <div *ngIf="item && item.email" class="d-flex flex-column fs-12" style="text-align:left; color:#34383F">
            <span class="break-word">{{item.email}}</span>
          </div>
          <a *ngIf="item && item.email" class="ml-2" href="javascript:void(0)" (click)="deleteEmail(item)"><i class="icon-trash"></i></a>
        </div>
      </div>
    </ng-container>

    <div class="d-flex justify-content-end" >
      <button class="btn btn-outline-secondary ds-mr-12p ds-t-uppercase"  (click)="closeModal()"> {{'CANCEL'| translate}}</button>
      <button class="btn btn-primary"  (click)="saveAddEmailForm()">
        <span *ngIf="!loading">{{'CYBERALARM.IDENTITIES.ADD_FORM.BTN'| translate}} </span>
        <nz-spinner *ngIf="loading"></nz-spinner>
      </button>
    </div>
  </form>


</ng-container>

<ng-template #addEmailSuccess>
  <div class="d-flex flex-column">
    <div class="ds-modal-header ds-mb-32p justify-content-end">
      <i class="icon-close" (click)="closeModal()"></i>
    </div>

    <div class="ds-t-center d-flex flex-column ds-mb-32p">
      <div class="icon-green-check fa-6x ds-c-success ds-mb-32p" ></div>

      <div class="ds-h3 ds-m-bold ds-c-black ds-mb-12p">
        {{'CYBERALARM.IDENTITIES.ADD_FORM.RESULT_OK'| translate}}
      </div>

      <div class="ds-body-primary ds-r-regular ds-c-black ">
        {{'CYBERALARM.IDENTITIES.ADD_FORM.RESULT_OK_TEXT'| translate}}
      </div>



    </div>

    <div class="d-flex flex-column ds-mb-32p">
      <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-12p">
        {{'COMP_IDENTITY_THEFT_PROTECTION.PROTECTING_EMAIL_ACCOUNTS'| translate}}
      </div>

      <ng-container  *ngIf="emails && emails.length > 0">
        <div class="ds-w-80 ml-4">
          <div class="file-item" *ngFor="let item of emails; let i = index">
            <div class="d-flex flex-column fs-12" style="text-align:left; color:#34383F">
              <span class="break-word">{{item.email}}</span>
            </div>
          </div>
        </div>
      </ng-container>



    </div>

    <div class="d-flex justify-content-end" >
      <button class="btn btn-primary"  (click)="closeModal()">{{'COMP_USER.SUPPORT_NOTIFICATION.CLOSE'| translate}} </button>
    </div>


  </div>


</ng-template>



