
<div class="w-100">
  <p class="right-card-tittle" *ngIf="partnerService.partner.loginType !== 11">{{'CONTRASENA_CREAR' | translate }}</p>
  <div class="ds-card ds-p-32p">


    <p class="right-card-text" *ngIf="partnerService.partner.loginType !== 11">{{'CAMBIO_CONTRASENA_SUBTITULO' | translate }}</p>
    <p class="right-card-text" *ngIf="partnerService.partner.loginType !== 11">{{'CAMBIO_CONTRASENA_SUBTITULO_2' | translate }}</p>

    <label class="restpass-label ds-mb-12p" *ngIf="partnerService.partner.loginType !== 11">*&nbsp;{{'CAMPOS_OBLIGATORIOS' | translate}}</label>

    <form (ngSubmit)="onSubmitForm()"  [formGroup]="accessForm">
      <div class="row" *ngIf="partnerService.partner.loginType !== 11">
        <div class="col-md-6 d-flex flex-column ds-mb-12p">
          <label class="right-card-label" for="">{{'CONTRASENA' | translate}}&nbsp;*</label>
          <div class="input-group">
            <input
              [type]="passwordInputType"
              class="form-control-with-icon ds-no-take-error"
              formControlName="password"
              maxlength="100">

              <div class="icon-prepend-eye" (click)="tooglePassword()" >
                <div class="icon-eye"></div>
              </div>
          </div>
          <div
            *ngIf="accessForm.get('password').touched && accessForm.get('password').hasError('required')"
            class="text-danger text-left">
            {{'CAMPO_REQUERIDO' | translate}}
          </div>

          <div class="input-group lev-fuerza">
            <app-password-strength (validpass)="checkpass($event)" [barLabel]="barLabel"
              [passwordToCheck]="accessForm.get('password').value"></app-password-strength>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
          <label class="right-card-label" for="">{{'CONTRASENA_CONFIRMAR' | translate}}&nbsp;*</label>
          <div class="input-group">
            <input
              [type]="confirmPasswordInputType"
              class="form-control-with-icon ds-no-take-error"
              formControlName="confirmPassword"
              maxlength="100">

              <div class="icon-prepend-eye" (click)="toogleConfirmPassword()" >
                <div class="icon-eye"></div>
              </div>
          </div>
          <div
            *ngIf="accessForm.get('confirmPassword').touched && accessForm.get('confirmPassword').hasError('required')"
            class="text-danger text-left">
            {{'CAMPO_REQUERIDO' | translate}}
          </div>
          <div
            *ngIf="
            accessForm.get('password').value &&
            accessForm.get('confirmPassword').value
            && accessForm.hasError('notSame')"
            class="text-danger text-left">
            {{'RECOVER_PWD_VALIDATION1' | translate}}
          </div>
        </div>
      </div>

      <div class="row" *ngIf="itIsOneStepActivation">
        <div class="col-md-6 offset-md-6">
          <div class="custom-control custom-checkbox text-left ds-mb-4p">
            <input type="checkbox" class="custom-control-input" id="terms" formControlName="checkTerms">
            <label class="custom-control-label custom-control-label-activation text-left terms-label" for="terms">{{'LEIDO_ACEPTO' | translate}} <a
                routerLink="/terms" >{{'LEIDO_ACEPTO_2' |
                translate}}</a>{{'LEIDO_ACEPTO_3' | translate}}.</label>
          </div>
          <div
          *ngIf="accessForm.get('checkTerms').hasError('required')"
          class="text-danger text-left">{{'CONSENTIMIENTO' | translate}} </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="accessForm.invalid || (!successpass && partnerService.partner.loginType !== 11)">
            <nz-spinner *ngIf="loadingPassword"></nz-spinner>
            <div *ngIf="!loadingPassword" class="text-uppercase">{{'GUARDAR_CAMBIOS' | translate}}</div>
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

