
.form-control-with-icon {
  background: #ECF1F8;
  color: #34383F;
  font-size: 16px;
  border-left: 1px solid #34383F !important;
  border-top: 1px solid #34383F !important;
  border-bottom: 1px solid #34383F !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0.375rem 0.35rem 0.375rem 0.75rem;
  height: 47px !important;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: 1%;

  &:focus, &:focus + .icon-prepend-eye {
    background: #BCC4D4;
    border-color: #34383F;
  }

  &.ng-invalid.ng-touched, &.ng-invalid.ng-touched + .icon-prepend-eye {
    border-color: #dc3545 !important;
  }

}


.icon-prepend-eye{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
  border-left: none;
  background: #ECF1F8;
  color: #006EFF;
  border-right: 1px solid #34383F !important;
  border-top: 1px solid #34383F !important;
  border-bottom: 1px solid #34383F !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
