
<div class="ds-card-body ds-flex-column ds-jc-center ds-al-center">
  <h2 class="text-center neutral-black cyb-body-title">
    {{'CYBERSCORING.PRIMER_ANALISIS' | translate}}
  </h2>
  <p class="text-center cyb-body-text">
    {{'CYBERSCORING.DESCRIPCION_SERVICIO' | translate}}
  </p>
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary text-uppercase"
        data-toggle="modal"
        data-target="#analisisForm"
        (click)="toggleValidate()"
      >
        {{'COMP_BITDEFENDERMSP.BUTTON_SOLICITAR'| translate}}
      </button>
    </div>
  </div>
  
</div>
