.ds-card-body p {
  color: #8B8F98 !important;
  font-size: 12px;
  text-align: left;
  font-family: 'RobotoRegular';
}

.font-title-family{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.ds-card-bms-result {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 18px 16px;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


