<div class="ds-modal-header ds-mb-32p justify-content-end">
  <i class="icon-close" (click)="closeModal()"></i>
</div>

<div class="ds-t-center d-flex flex-column ds-mb-32p">
  <div class="new-modal-img mb-4 mt-0 fs-78 icon-warning semantic-danger ds-mb-32p"></div>

  <div class="ds-h3 ds-m-bold ds-c-black ds-mb-12p">
    {{'CYBERALARM.CARDS.FRAUD_MODAL.TITLE' | translate}}
  </div>

  <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-12p">
    {{'CYBERALARM.CARDS.FRAUD_MODAL.TEXT' | translate}}
  </div>
</div>


<div class="d-flex justify-content-end" >
  <button class="btn btn-primary ds-t-uppercase"  (click)="closeModal()">   {{'WIZARD.BTNS.CLOSE' | translate}} </button>
</div>
