<div class="d-flex justify-content-center text-center align-items-center flex-column">

  <div class="icon-exclamation  fa-7x ds-c-danger ds-mb-32p ds-c-warning" ></div>

  <div class="ds-h3 ds-m-bold ds-c-black ds-mb-12p">{{'COMP_SERVICE_STATUS.YOU_CAN_STILL_IMPROVE'| translate}}  </div>

  <div class="ds-body-primary ds-c-black ds-r-regular ds-mb-24p">
    {{'COMP_SERVICE_STATUS.LEVEL_PROTECTION_MEDIUM'| translate}}
  </div>

  <div class="ds-body-primary ds-c-black ds-r-regular ds-mb-24p">
    {{'COMP_SERVICE_STATUS.CHECK_STATUS_BAR'| translate}}
  </div>

  <div class="jumbotron-item orange" >
    <div class="d-flex ds-fs-24 justify-content-end">
      <span class="icon-exclam ds-fs-16 ds-c-orange"></span>
    </div>
  </div>


</div>
