.ds-m-regular {
  font-family: 'MontserratRegular' !important;
}
.close {
  background: none !important;
}
.ds-b-accent {
  background: #0349FE;
  border-radius: 8px 8px 0px 0px;
  padding: 15px;
}
.ds-image {
  width: 100%;
}