<div class="ds-login-main-container" >

  <div class="ds-card-container"  >

    <div class="ds-login-logo">
      <img [src]="loginTypeService.logotipo">
    </div>

    <form class="ds-login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="ds-h1 ds-m-bold ds-c-black ds-mb-12p">{{'COMP_LANDING.INIT_SESSION' | translate}}</div>

      <div class="ds-flex-column ds-mb-12p">
        <label class="ds-body-secondary ds-r-regular ds-c-black ">{{partnerService.partner.userPlaceholder}}</label>
        <input type="text" class="ds-control"  formControlName="licenceCode" [placeholder]="partnerService.partner.userPlaceholder || '' ">
      </div>

      <div class="ds-flex-row ds-jc-end ds-cur-pointer" *ngIf="loginTypeService.showInstructions" (click)="showContentIntructions()">
        <span class="ds-body-secondary ds-r-regular ds-c-accent">{{partnerService.partner.loginInstructionsTitle}}</span>
      </div>

      <div class="invalid-feedback" [ngClass]="{ 'd-block': loginForm.touched && f && f['licenceCode'] && f['licenceCode'].errors }">
        <div *ngIf="f && f['licenceCode'] && f['licenceCode'].errors && f['licenceCode'].errors!['required']">
          <div class="icon-exclamation-tri">{{'CAMPO_REQUERIDO' | translate}}</div>
        </div>
      </div>

      <div class="ds-flex-row">

        <div class="ds-container-switch">
          <div class="item-switch">
            <input
              class="ds-switch"
              type="checkbox"
              formControlName="checkKeepSession"
              name="checkbox11"
              id="loginKeepSession"
            />
            <label style="margin-left: 9px;" class="ds-r-regular ds-caption ds-c-secondary" for="loginKeepSession">{{"COMP_LANDING.KEEP_SESSION"| translate}}</label>
          </div>

        </div>

      </div>

      <div class="ds-flex-row ds-jc-end">
        <button [disabled]="loginTypeService.isLocked" type="submit" class="ds-btn-primary ds-t-uppercase ds-r-bold">
          <nz-spinner *ngIf="loginTypeService.loading">loading</nz-spinner>
          <div *ngIf="!loginTypeService.loading"> {{"ACCEDER" | translate}}</div>
        </button>
      </div>

      <div *ngIf="loginTypeService.loginError"  class="loginError d-flex">
        <div class="icon-exclamation-tri ds-mr-8p"></div>
        <div *ngIf="loginTypeService.isLocked">{{'LOCKED-USER' | translate}}</div>
        <div *ngIf="!loginTypeService.isLocked">{{'DATOS_INCORRECTOS' | translate}}</div>
      </div>

    </form>

    <div class="ds-login-contact-us ds-login-code">
      <div class="ds-r-bold  ds-caption  ds-c-secondary ds-mb-12p"> {{'RESET_PASSWORD.CONTACT_US' | translate}}: </div>

      <div class="ds-login-icons">
        <a href="tel:{{partnerService.partner.phone}}" *ngIf="partnerService.partner.includePhone && partnerService.partner.phone">
          <div class="icon-phone ds-mr-8p"></div>
          {{partnerService.partner.phone}}
        </a>

        <a
          href="https://api.whatsapp.com/send?phone={{partnerService.partner.whatsapp}}"
          target="_blank"
          *ngIf="partnerService.partner.includeWhatsapp && partnerService.partner.whatsapp">
          <div class="icon-whatsapp ds-mr-8p"></div>
          {{partnerService.partner.whatsapp}}
        </a>

        <a href="mailto:{{partnerService.partner.email}}" *ngIf="partnerService.partner.includeEmail && partnerService.partner.email">
          <div class="icon-envelope ds-mr-8p"></div>
          {{partnerService.partner.email}}
        </a>
      </div>

    </div>

    <div class="ds-login-language">
      <app-custom-select
        *ngIf="loginTypeService.languages.length > 1"
        [placeholder]="loginTypeService.dropdownLanguage"
        [items]="loginTypeService.languages"
        (changeEvent)="onChange($event)"
      >
      </app-custom-select>
      <div
        *ngIf="loginTypeService.languages.length <= 1"
        class="ds-r-regular ds-body-secondary ds-c-secondary ds-caption"
      >
        <span class="icon-globe mr-2"></span> <span>{{ loginTypeService.languages[0].value }}</span>
      </div>
      <div class="ds-terms-and-conditions">
        <span (click)="goToTerms()"> {{'TERMINOS_CONDICIONES' | translate}} </span>
        <span (click)="goCookiesPolicy()">  {{'COOKIES.COOKIES_POLICY' | translate}} </span>
        <span (click)="goToPrivacyPolicy()"> {{'COOKIES.PRIVACY_POLICY' | translate}} </span>
      </div>
    </div>


  </div>

</div>
