<div class="d-flex flex-column">
  <div class="ds-flex-row ds-jc-end">
    <i class="icon-close ds-cur-pointer ds-fs-24 ds-c-secondary" (click)="closeModal()"></i>
  </div>
  <div class="ds-t-center">
    <span class="icon-illustration-info" style="font-size: 85px;"></span>
  </div>
  <div class="cfr-waiting-container">
   <h4 class="wizard-modal-title fs-20 lh-24 neutral-black ds-mt-24p ds-mb-24p">TrendMicro</h4>

    <div class="ds-body-primary ds-r-bold ds-mb-24p">
      {{'TRENDMICRO.MODAL_MSG_a' | translate}}
    </div>
    <div class="ds-body-primary ds-r-regular ds-mb-12p">
      {{'TRENDMICRO.MODAL_MSG_b' | translate}}
    </div>

    <div class="ds-body-primary ds-r-regular ds-mb-12p">

      {{'CYBERSECURITY.FRACTEL.MODAL.MODAL_TEXT3' | translate}}
    </div>
  </div>
  <div class="ds-flex-row ds-jc-end">
    <button class="ds-btn-primary ds-t-uppercase" (click)="closeModal()"> {{'CYBERSECURITY.FRACTEL.BTN.CLOSE' |
      translate}}</button>
  </div>






