
    <div class="ds-h2 ds-m-bold ds-c-black ds-mb-12p">{{'RESET_PASSWORD.TITLE_OK' | translate}}</div>

    <div class="ds-body-primary ds-r-regular ds-c-black ds-mb-60p">
      {{'RESET_PASSWORD.DESCRIPTION_OK' | translate}}
    </div>

    <div class="ds-login-form">
      <div class="ds-flex-row ds-jc-center">
        <img src="https://devstatic.app.onlineassist.me/suite/img/new-login/mensaje_login.png" alt="">
      </div>
    </div>




    <div class="ds-login-forget-password" style="padding:24px 0px;">
      <div class="ds-r-regular ds-body-secondary ds-c-secondary ds-mb-24p">{{'RESET_PASSWORD.SET_UP_PASSWORD' | translate}}
      </div>

      <button (click)="goToLogin()" class="ds-btn-secondary ds-t-uppercase ds-r-bold ">{{"ACCEDER" | translate}}</button>
    </div>
