
<div class="d-flex w-100 justify-content-end">
  <button type="button" class="btn ds-fs-14" (click)="closeModal()">
    <div class="icon-close"></div>
  </button>
</div>

<div class="p-3 w-100 justify-content-center btn">
  <div class="col-sm-12 col-12 pl-0 pr-0 d-flex justify-content-center">
    <img class="new-modal-img unplug" src="{{staticContentUrl+'img/icon_info.png'}}">
  </div>
  <div class="col-sm-12 col-12 pl-0 pr-0 mb-2 d-flex justify-content-center">
    <h4 class="wizard-modal-title fs-20 lh-24 neutral-black">{{serviceName}}</h4>
  </div>
  <div class="col-sm-12 col-12 pl-0 pr-0 d-flex justify-content-center">
    <p class="wizard-modal-text neutral-black fs-16 lh-19 roboto-b">
      {{'WIZARD.BMS_TEXT2' | translate}}
    </p>
  </div>
  <div class="col-sm-12 col-12 pl-0 pr-0 d-flex justify-content-center">
    <p class="wizard-modal-text neutral-black fs-16 lh-19">
      {{'WIZARD.BMS_TEXT3' | translate}}
    </p>
  </div>
  <div class="col-sm-12 col-12 pl-0 pr-0 wizard-modal-btns d-flex">
    <button
      class="btn btn-primary wizard-modal-btn"
      (click)="closeModal()">
      <div class="text-uppercase">
        {{'WIZARD.BTNS.CLOSE' | translate}}
      </div>
    </button>
  </div>
</div>
